@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

/* this styling for body background img & position */
body{
    background-image: linear-gradient(90deg, #99f0e9,#a7ecdf);
    font-family: "Roboto" ,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.search{
    position: relative;
    height:50px;
}