@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

/* this styling for body background img & position */
body{
    background-image: linear-gradient(90deg, #99f0e9,#a7ecdf);
    font-family: "Roboto" ,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* this styling code for position & height of the search */
.search{
    position: relative;
    height:50px;
}

/* this styling for search input color , font -size  */
.search input{
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}