@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

/* this styling for body background img & position */
body{
    background-image: linear-gradient(90deg, #99f0e9,#a7ecdf);
    font-family: "Roboto" ,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* this styling code for position & height of the search */
.search{
    position: relative;
    height:50px;
}

/* this styling for search input color , font -size  */
.search input{
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}
/* this is the hidden search button styling and position fixed */
.btn{
    background-color: #fff;
    border:0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
    
}
/* this styling for focus line of the button */
.btn:focus,
.input:focus{
    outline: none;
}

/* this code for how to work using css & js */
.search .active .input{
    width:200px;
}

.search .active .btn{
    transform: translateX(198px);
}
